<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>135893761316-n68rcjd60hvsjo70fcns2k1n3so1bp69.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.135893761316-n68rcjd60hvsjo70fcns2k1n3so1bp69</string>
	<key>API_KEY</key>
	<string>AIzaSyDE9SaQjAzfi0jDG5ftimnwRFDA0S9XmqI</string>
	<key>GCM_SENDER_ID</key>
	<string>135893761316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PollSystemApplication.Poll-System-Application-iOS</string>
	<key>PROJECT_ID</key>
	<string>poll-system-application</string>
	<key>STORAGE_BUCKET</key>
	<string>poll-system-application.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:135893761316:ios:08ae772d737e77e53e47b1</string>
	<key>DATABASE_URL</key>
	<string>https://poll-system-application-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>